/* You can add global styles to this file, and also import other style files */

html {
    margin: 0; 
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, 
body { 
    height: 100%;
    margin: 0; 
}
